<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>bankNumber</param-name>
        <param-value>1021000099999</param-value>
    </context-param>
    <context-param>
        <param-name>bankName</param-name>
        <param-value>Vietcombank</param-value>
    </context-param>
    <context-param>
        <param-name>phoneNumber</param-name>
        <param-value>0886969888</param-value>
    </context-param>
    <context-param>
        <param-name>gmail</param-name>
        <param-value>thong2382001@gmail.com</param-value>
    </context-param>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.common.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>controller.common.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.common.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogListController</servlet-name>
        <servlet-class>controller.common.BlogListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>controller.common.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.publicc.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductByCategoryController</servlet-name>
        <servlet-class>controller.common.ProductByCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailValidate</servlet-name>
        <servlet-class>controller.common.EmailValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterSendmailController</servlet-name>
        <servlet-class>controller.common.RegisterSendmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterConfirmController</servlet-name>
        <servlet-class>controller.common.RegisterConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlideController</servlet-name>
        <servlet-class>controller.common.SlideController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileCustomerController</servlet-name>
        <servlet-class>controller.common.ProfileCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasss</servlet-name>
        <servlet-class>controller.common.ChangePasss</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInformation</servlet-name>
        <servlet-class>controller.common.Order.OrderInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrder</servlet-name>
        <servlet-class>controller.common.Order.MyOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>controller.common.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostCreateController</servlet-name>
        <servlet-class>controller.marketing.post.PostCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostListController</servlet-name>
        <servlet-class>controller.marketing.post.PostListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductCreateController</servlet-name>
        <servlet-class>controller.marketing.product.ProductCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostChangeStatusController</servlet-name>
        <servlet-class>controller.marketing.post.PostChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostEditController</servlet-name>
        <servlet-class>controller.marketing.post.PostEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailController</servlet-name>
        <servlet-class>controller.marketing.post.PostDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDeleteController</servlet-name>
        <servlet-class>controller.marketing.post.PostDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailMarketingController</servlet-name>
        <servlet-class>controller.marketing.product.ProductDetailMarketingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCreateController</servlet-name>
        <servlet-class>controller.marketing.customers.CustomerCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerEditController</servlet-name>
        <servlet-class>controller.marketing.customers.CustomerEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SlidersCreateController</servlet-name>
        <servlet-class>controller.marketing.sliders.SlidersCreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDetaiController</servlet-name>
        <servlet-class>controller.marketing.customers.CustomerDetaiController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetails</servlet-name>
        <servlet-class>controller.admin.UserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.admin.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardController</servlet-name>
        <servlet-class>controller.admin.AdminDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>controller.marketing.feedback.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackChangeStatusController</servlet-name>
        <servlet-class>controller.marketing.feedback.FeedbackChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackDetailController</servlet-name>
        <servlet-class>controller.marketing.feedback.FeedbackDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>slidersEditController</servlet-name>
        <servlet-class>controller.marketing.sliders.slidersEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderDetailController</servlet-name>
        <servlet-class>controller.marketing.sliders.SliderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderChangeStatusController</servlet-name>
        <servlet-class>controller.marketing.sliders.SliderChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingListController</servlet-name>
        <servlet-class>controller.admin.SettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingDetailsController</servlet-name>
        <servlet-class>controller.admin.SettingDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleDashboardController</servlet-name>
        <servlet-class>controller.sale.order.SaleDashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderlist</servlet-name>
        <servlet-class>controller.sale.order.orderlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderBriefinfo</servlet-name>
        <servlet-class>controller.sale.order.OrderBriefinfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderLDetailController</servlet-name>
        <servlet-class>controller.sale.order.orderLDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailControllerMarketing</servlet-name>
        <servlet-class>controller.marketing.product.ProductDetailControllerMarketing</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogListController</servlet-name>
        <url-pattern>/BlogList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductByCategoryController</servlet-name>
        <url-pattern>/ProductByCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailValidate</servlet-name>
        <url-pattern>/EmailValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterSendmailController</servlet-name>
        <url-pattern>/RegisterSendmailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterConfirmController</servlet-name>
        <url-pattern>/RegisterConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlideController</servlet-name>
        <url-pattern>/Slide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileCustomerController</servlet-name>
        <url-pattern>/ProfileCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasss</servlet-name>
        <url-pattern>/ChangePasss</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInformation</servlet-name>
        <url-pattern>/OrderInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrder</servlet-name>
        <url-pattern>/MyOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/UpdateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostCreateController</servlet-name>
        <url-pattern>/postcreatemarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostListController</servlet-name>
        <url-pattern>/postmarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostChangeStatusController</servlet-name>
        <url-pattern>/marketing/post/change-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostEditController</servlet-name>
        <url-pattern>/posteditcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailController</servlet-name>
        <url-pattern>/detaimarketing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDeleteController</servlet-name>
        <url-pattern>/marketing/post/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailMarketingController</servlet-name>
        <url-pattern>/marketing/product/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCreateController</servlet-name>
        <url-pattern>/create_customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerEditController</servlet-name>
        <url-pattern>/editcustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SlidersCreateController</servlet-name>
        <url-pattern>/creatslider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDetaiController</servlet-name>
        <url-pattern>/customerdetai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetails</servlet-name>
        <url-pattern>/UserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardController</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/marketing/feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackChangeStatusController</servlet-name>
        <url-pattern>/marketing/feedback/change-status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackDetailController</servlet-name>
        <url-pattern>/marketing/feedback/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>slidersEditController</servlet-name>
        <url-pattern>/slidesredit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderDetailController</servlet-name>
        <url-pattern>/slidercontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderChangeStatusController</servlet-name>
        <url-pattern>/sliderchangestatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingListController</servlet-name>
        <url-pattern>/SettingList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingDetailsController</servlet-name>
        <url-pattern>/SettingDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleDashboardController</servlet-name>
        <url-pattern>/SaleDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderlist</servlet-name>
        <url-pattern>/orderlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderBriefinfo</servlet-name>
        <url-pattern>/orderbrief</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderLDetailController</servlet-name>
        <url-pattern>/orderLDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailControllerMarketing</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
